bin/
obj/
*.user
appsettings.Development.json
.vs/

# Coverage reports
/corage-report/
/coragereport/
/coragereport/
**/coverage*.xml
**/coverage*.opencover.xml
**/coverage*.cobertura.xml
UnitTest\coverage.opencover.xml
# Test result folders
/TestResults/